mat-card {
  padding: 1rem 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question-container {
  display: flex;
  gap: 1rem;
}

.question-field {
  width: 100%;
}

.select-options-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.option-container {
  display: flex;
  gap: 1rem;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
